# Node.js dependencies
node_modules/

# Build outputs
.cache/
.build/
public/build/

# Environment variables
.env

# IDE/editor configurations
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
